body {
    background-color:cornsilk;
    font-family:'Gill Sans';
}

header {
    background-color:floralwhite;
    padding-bottom: 5vh;
    border: 2px solid black;
    padding-left: 5vw;
}

h1 {
    display: inline-block;
    margin-right: 5vw;
    vertical-align: middle;
}

h3 {
    display: inline-block;
    vertical-align:middle;
}

nav {
    display:block;
    margin: 0px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 80px;
}

nav button {
    background-color: floralwhite;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    }

    nav button:hover {
        background-color: cornsilk;
        box-shadow: 0 0 0 1px black inset;
    }


article {
    text-align: center;
    background-color: floralwhite;
    padding: 2%;
    border: 2px solid black;
    margin-top: 7vh;
    text-align:justify;
    font-size: larger;
    margin-bottom: 7vh;
    margin-left: 10%;
    margin-right: 10%;
}

h4 {
    margin-left: 5vw;
}

section {
    font-size: larger;
    margin-top: 5vh;
    display: block;
    margin-left: 15%;
    margin-bottom: 5vh;
    
}
.color-button {
    font-size: larger;
    width: 15vw;
    @media (min-width: 1px) {
        width: 20vw;
        margin-right: 5%;
    }
    height: 35vh;
    @media (min-height: 1000px) {
        height: 35vh;
    }

    margin: 10px;
    display: inline-block;
    border-radius: 2vw;
    text-align: center;
    font-weight: bolder;
    vertical-align: middle;
    border: 2px solid black;

    
}
.color-button:hover {
    transition: all 0.1s;
    filter: brightness(110%);
    box-shadow: 0 0 0 1px black inset;
}


.AI_TITLE {
    text-align: center;
}

.ai_button {
    background-color: rgb(251, 246, 236);
    border: 5px solid black;
    padding: 5px 5px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-left:41vw;
    width: 15%;
    @media (min-width: 1px) {
        width: 20%;
        margin-right: 40%;
    }
    height: 35%;
    @media (min-height: 1000px) {
        height: 35%;
    }

}

.ai_button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 1px black inset;

}

img {
    width: 100%;
    @media (min-width: 1px) {
        width: 100%;
        margin-right: 0%;
    }
    height: 100%;
    @media (min-height: 1000px) {
        height: 100%;
    }
}

#comparison-table {
    width: 70%;
    margin-left: 20%;
    margin-top: 50px;
    margin-bottom: 60px;
}

#comparison-table table {
    width: 90%;
    border: 3px solid black;
}

#comparison-table th, #comparison-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid black;

}

#comparison-table th {
    background-color: #ffe093;
}

#comparison-table tr:hover {
    background-color: #ffe6a68d;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    margin-bottom: 2vh;
    background-color: floralwhite;
    border: 2px solid black;
}