body {
    background-color:cornsilk;
    font-family:'Gill Sans';
}

header {
    background-color:floralwhite;
    padding-bottom: 5vh;
    border: 2px solid black;
    padding-left: 5vw;
}

h1 {
    display: inline-block;
    margin-right: 5vw;
    vertical-align: middle;
}

h3 {
    display: inline-block;
    vertical-align:middle;
}

nav {
    display:block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

nav button {
    background-color: floralwhite;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
    }

    nav button:hover {
        background-color: cornsilk;
    }


article {
    margin-top: 7vh;
    text-align: center;
    font-size: larger;
    margin-bottom: 7vh;
}

h4 {
    margin-left: 5vw;
}

section {
    font-size: larger;
    margin-top: 5vh;
    display: block;
    margin-left: 15%;
    margin-bottom: 5vh;
    
}
.color-button {
    font-size: larger;
    width: 15vw;
    @media (min-width: 1px) {
        width: 20vw;
        margin-right: 5%;
    }
    height: 35vh;
    @media (min-height: 1000px) {
        height: 35vh;
    }

    margin: 10px;
    display: inline-block;
    border-radius: 2vw;
    text-align: center;
    font-weight: bolder;
    vertical-align: middle;
    border: 2px solid black;

    
}
.color-button:hover {
    transition: all 0.1s;
    filter: brightness(110%);
    box-shadow: 0 0 0 1px black inset;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
    background-color: floralwhite;
    border: 2px solid black;

}